*,
*::before,
*::after {
  box-sizing: border-box;
}
ul,
ul,
li {
  padding: 0;
}
ul {
  list-style: none;
}
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul,
li {
  margin: 0;
}
body {
  min-height: 100vh;
  scroll-behavior: smooth;
}
img {
  max-width: 100%;
  display: block;
  height: auto;
}
button {
  padding: 0;
  background-color: inherit;
}
.link {
  text-decoration: none;
}
